*.code-workspace
.vscode/*
.DS_Store
*.o
neoboot/*.efi
*.fd
*.a
*.lib
*.dmg
neoboot/*.elf
kernel/*.elf
test.c
*.img
*.cdr
*.out
my-operating-system.code-workspace
*.wav
*.so
uefilib/
MyBootLoader/
*.bdf